{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="mb-3 text-center">Register</h2>

        <!-- Сообщение после регистрации -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label>Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button class="btn btn-success w-100">Register</button>
        </form>

        <p class="mt-3 text-center text-muted">
            Check your email for the activation code 📧
        </p>
    </div>
</div>
{% endblock %}
