{% extends "base.html" %}

{% block title %}Courses{% endblock %}

{% block content %}
<h2>Courses</h2>

<div class="row">
    {% for course in courses %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if course.image %}
                    <img src="{{ course.image.url }}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5>{{ course.title }}</h5>
                    <p>{{ course.description|truncatewords:15 }}</p>
                    <a href="{% url 'course_detail' course.id %}" class="btn btn-primary">
                        Open
                    </a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No courses</p>
    {% endfor %}
</div>

{% if user.is_staff %}
    <a href="{% url 'create_course' %}" class="btn btn-success mt-3">
        ➕ Create Course
    </a>
{% endif %}
{% endblock %}
