{% extends "base.html" %}

{% block title %}Modules{% endblock %}

{% block content %}
<h2>Modules</h2>

<ul class="list-group">
    {% for module in modules %}
        <li class="list-group-item d-flex justify-content-between">
            {{ module.title }} ({{ module.course.title }})
            <a href="{% url 'module_detail' module.id %}" class="btn btn-sm btn-primary">
                Open
            </a>
        </li>
    {% empty %}
        <li class="list-group-item">No modules</li>
    {% endfor %}
</ul>
{% endblock %}
